@page "/"

@using Pokedex.Contracts.DTOs;
@using Pokedex.Contracts.Entities;
@using Services;
@inject IPokemonService _PokemonService;

<h3>PokeDex</h3>

<div>

    <div class="row">
        <div class="col">
            <Pagination Metadata="paginationMetaData" Spread="5" SelectedPage="SelectedPage"/>
        </div>
    </div>

    <PokemonGrid Pokemons="Pokemons" NumberOfRows="5" />
</div>

@code {

    public IEnumerable<PokemonDTO> Pokemons { get; set; }

    PaginationMetadata paginationMetaData = new PaginationMetadata();

    PaginationParameters paginationParameters = new PaginationParameters();

    protected override async Task OnInitializedAsync()
    {
        var result = await _PokemonService.GetAllPokemons(paginationParameters);


        var pokemons = new List<PokemonDTO>();

        foreach (var poke in result.Pokemons)
            pokemons.Add(await _PokemonService.GetPokemon(poke.Name));

        Pokemons = pokemons;
        paginationMetaData.TotalCount = result.Count;
        paginationMetaData.TotalPages = paginationMetaData.TotalCount / paginationParameters.PageSize;
    }

    private async Task SelectedPage(int page)
    {
        paginationParameters.PageNumber = page;

        await GetPokemons();
    }

    private async Task GetPokemons()
    {
        var result = await _PokemonService.GetAllPokemons(paginationParameters);

        var pokemons = new List<PokemonDTO>();

        foreach (var poke in result.Pokemons)
            pokemons.Add(await _PokemonService.GetPokemon(poke.Name));

        Pokemons = pokemons;
    }
}
